In [45]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
%matplotlib inline

In [46]:
from sklearn.datasets import fetch_openml
df = fetch_openml("titanic",version=1 , as_frame=True)["data"]

In [48]:
df.age.isnull().sum()

263

In [49]:
### simple imputer
from sklearn.impute import SimpleImputer

imp = SimpleImputer(strategy="most_frequent")
df["age"] = imp.fit_transform(df[["age"]])

In [50]:
df.age.isnull().sum()

0

In [55]:
### Standard Scaler

from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

df["age"] = ss.fit_transform(df[["age"]])

In [56]:
df["age"]

0       0.022952
1      -2.122106
2      -2.039361
3       0.099333
4      -0.282576
          ...
1304   -1.084587
1305   -0.358958
1306   -0.168003
1307   -0.129812
1308    0.022952
Name: age, Length: 1309, dtype: float64

In [58]:
### MixMaxScaler
from sklearn.preprocessing import MinMaxScaler

mm = MinMaxScaler()

df["fare"] = mm.fit_transform(df[["fare"]])

In [59]:
df.head(5)

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,"Allen, Miss. Elisabeth Walton",female,0.022952,0,0,24160,0.412503,B5,S,2,NaN,"St Louis, MO"
1,1,"Allison, Master. Hudson Trevor",male,-2.122106,1,2,113781,0.295806,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,"Allison, Miss. Helen Loraine",female,-2.039361,1,2,113781,0.295806,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,"Allison, Mr. Hudson Joshua Creighton",male,0.099333,1,2,113781,0.295806,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,-0.282576,1,2,113781,0.295806,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"